html {
  background-image: url('https://i.ya-webdesign.com/images/cool-background-png-6.png');
}

body {
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 24px;
  line-height: 20px;
  color: #484848;
}
/* _________________Austin_______________________ */

#photos {

}


/* __________________Laura_______________________ */

#app {
  float: left;
  width: 800px;
  font-size: small;
}


/* __________________Bradley_______________________ */

#reservation {
  position: fixed;
  top: 20px;
  margin-left: 900px;
  margin-bottom: auto;
}




/* __________________Daniel_______________________ */

#recommendations {
  float: left;
}
